Teszteset1 test1.txt test1_expected.txt
Teszteset2 test2.txt test2_expected.txt
Teszteset3 test3.txt test3_expected.txt
Teszteset4 test4.txt test4_expected.txt
Teszteset5 test5.txt test5_expected.txt
Teszteset6 test6.txt test6_expected.txt
Teszteset7 test7.txt test7_expected.txt
Teszteset8 test8.txt test8_expected.txt
Teszteset9 test9.txt test9_expected.txt
Teszteset10 test10.txt test10_expected.txt
Teszteset11 test11.txt test11_expected.txt
Teszteset12 test12.txt test12_expected.txt
Teszteset13 test13.txt test13_expected.txt
Teszteset14 test14.txt test14_expected.txt
Teszteset15 test15.txt test15_expected.txt
Teszteset16 test16.txt test16_expected.txt
Teszteset17 test17.txt test17_expected.txt
Teszteset18 test18.txt test18_expected.txt
Teszteset19 test19.txt test19_expected.txt
Teszteset20 test20.txt test20_expected.txt
Teszteset21 test21.txt test21_expected.txt
Teszteset22 test22.txt test22_expected.txt
Teszteset23 test23.txt test23_expected.txt
Teszteset24 test24.txt test24_expected.txt
Teszteset25 test25.txt test25_expected.txt
Teszteset26 test26.txt test26_expected.txt
Teszteset27 test27.txt test27_expected.txt
Teszteset28 test28.txt test28_expected.txt
Teszteset29 test29.txt test29_expected.txt
Teszteset30 test30.txt test30_expected.txt
Teszteset31 test31.txt test31_expected.txt